body {
  background: #6441A5;
  background: -webkit-linear-gradient(to bottom, #2a0845, #6441A5);
  background: linear-gradient(to bottom, #2a0845, #6441A5); 
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none;
}
.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}
.modal-content-center {
  width:inherit;
  max-width:inherit;
  height:inherit;
  margin: 0 auto;
  pointer-events: all;
}
