/* body { 
    background-color: #17141F; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    min-width: 7em;
  } */