<div class="container-fluid">
  <div class="wave-banner">
    <img src="../../assets/imgs/wave.svg" class="wave-bg" />
    <img src="../../assets/imgs/logo.png" class="logo" />
    <img src="../../assets/imgs/logo-symbol.png" class="logo-symbol" />
  </div>
  <div class="content">

    <div class="search-form">
      <input type="search" id="search-bar" placeholder="Search" class="search-input" [(ngModel)]="search" name="search">
      <button type="submit" class="search-button">
        <img src="../../assets/imgs/search.svg" class="search-icon" />
      </button>

      <div class="dropdown dropdown-filter">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="../../assets/imgs/filter.svg" />
          Streams
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item">Channels</a>
          <a class="dropdown-item">Games</a>
          <a class="dropdown-item">Users</a>
          <a class="dropdown-item">Streams</a>
        </div>
      </div>

    </div>

    <div class="container-fluid content-result">
      <div class="row">
        <div class="col-lg-9 teste">
            <app-top-games></app-top-games>
        </div>
        <div class="col-lg-3 teste">
          sidenav
        </div>
      </div>
    </div>


  </div>
</div>