<img src="../../assets/imgs/top-games.png" class="img-title" />
<div class="line-title"></div>


<div class="row  content-cards">

  <ng-container *ngIf="loading">
    <div class="loading">
      <app-preloading></app-preloading>
    </div>
  </ng-container>

  <ng-container *ngIf="!loading">
    <div class="card-width" *ngFor="let item of resultTopGames">
      <div class="card-game animated zoomIn">
        <div class="card-game-hover">
          <img src="../../assets/imgs/play-button.svg" class="play-button" />
        </div>
        <img [src]="item.game.box.large" />
        <p class="followers">
          <i class="far fa-eye"></i> {{ item.viewers | number }} Viewers
        </p>
      </div>
    </div>
  </ng-container>


</div>